<% include partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
    <h2>what now</h2>
      <h1>Campgrounds</h1>
      <p>View our handpicked campgrounds from all over the world</p>
      <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a campground</a>
    </div>
  </header>

  <div class="row">
    <% campgrounds.forEach(function(campground) { %>
    <p>campground id :</p> 
    <%= campground._id %>
      <a href="campgrounds/<%= campground._id %>">
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="<%= campground.image_url %>" id="campgrounds">
          <div class="caption">
            <h4><%= campground.name %></h4>
          </div>
        </div>
      </div>
      </a>
    <% }); %>
  </div>
</div>

<% include partials/footer %>
