<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Firebase intro</title>
		<link rel="stylesheet" href="main.css">
	</head>
	<body>


    <h1>New user information</h1>

    <form method="POST" action="/form">
      <input name="name" placeholder="name">
      <input name="email" placeholder="email">

      <input type="submit">
    <form>


	</body>
</html>
