* {
  margin: 0;
  padding: 0;
}

body {
  color: #555;
  background: #eee;
  font-family: helvetica;
  color: #777;
}

a {
  text-decoration: none;
}

main {
  margin: 40px;
}

nav {
  background: #fff;
  margin-top: -20px;
}

nav ul {
  height: 60px;
}

nav li {
  display: inline-block;
  float: right;
  padding: 16px 10px 10px 20px;
  color: #eee;
  height: 100%;
}

nav li:hover {
  background: #eee;
  cursor: pointer;
}

nav a {
  color: #777;
}

nav a:hover {
  text-decoration: none;
  color: #777;
}

nav li:first-child {
  float: left;
  padding-left: 20px;
  font-size: 24px;
}

#campgrounds {
  width: 300px;
}

.jumbotron {
  background: #fff;
}

ul {
  list-style: none;
  margin: 20px auto; 
}

form ul {
  width: 40%;
}

#campground-title {
  text-align: center;
}

form input, form textarea {
  margin: 10px;
  padding: 8px;
  height: 40px;
  border-radius: 4px;
  font-size: 18px;
  border: none;
  width: 100%;
}

form textarea {
  height: 80px;
}

.main-campground-image {
  height: 300px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

p {
  padding: 10px;
  font-size: 16px;
}

.comments {
  background: #fff;
  border: 1px solid dodgerblue;
}
